body {
    height:100%;
    width:100%;
}
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px 30px;
    background: hsla(0, 0%, 100%, 0.99);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
    z-index: 5;
}
.container {
    position: relative;
    max-width: 1440px;
    margin: auto;
    background: #ffffff;
    overflow: hidden;
}
.navbar-wrapper {
    display: flex
;
    justify-content: space-between;
}
a {
    font: inherit;
    text-decoration: none;
}
.navbar-nav {
    position: static;
    opacity: 1;
    width: auto;
    height: auto;
    padding: 0;
    display: flex
;
    flex-direction: row;
    align-items: left;
    gap: 30px;
}
.nav-link {
    color: #000;
    font-size: 22px;
    transition: 0.25s ease;
}